    {{#each games as |game|}}
    <div class="column is-one-third">
      <a href="/dashboard/games/{{id}}">
        <img src="{{game_thumbnail}}">
      <h3 class="title is-5 has-text-weight-bold">{{game_title}}</h3>
      </a>
      <p class="mr-6">{{game_description}}</p>
    </div>
    {{/each}}
