<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GameLink</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheet/style.css" />
</head>

<body class="">
  <header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <h1 class="navbar-item title game-font is-4">GameLink</h1>
      </div>
      <div id="navbar" class="navbar-menu is-flex is-justify-content-space-between">
        <div class="navbar-start">
          <a class="navbar-item" href="/dashboard">
            Dashboard
          </a>
          <a class="navbar-item" href="/profile">
            Profile
          </a>
          <a class="navbar-item" href="/connect">
            Connect
          </a>
        </div>
        <div class="navbar-item">
          <button class="navbar-item" id="logout">
            Logout
          </button>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div>
      {{{body}}}
    </div>
  </main>
</html>
<script src="/js/logout.js"></script>
