<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GameLink</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="../../public/stylesheet/style.css" />
</head>

<body>
  <header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <p>GameLink</p>
      </div>
      <div id="navbar" class="navbar-menu is-flex is-justify-content-center">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>
          <a class="navbar-item">
            Profile
          </a>
          <a class="navbar-item">
            Connect
          </a>
        </div>
      </div>
    </nav>
  </header>


  <main>
    <div class="container has-text-centered">
      <h1 class="title">Welcome to GameLink</h1>
    </div>
    <div>
      {{{body}}}
    </div>
  </main>
</html>