<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GameLink</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheet/style.css" />
</head>

<body class="">
  <header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <h1 class="navbar-item title is-4">GameLink</h1>
      </div>
      <div id="navbar" class="navbar-menu is-flex is-justify-content-center">
        <div class="navbar-start">
          <a class="navbar-item" href="/dashboard" >
            Dashboard
          </a>
          <a class="navbar-item" href="/profile">
            Profile
          </a>
          <a class="navbar-item" href="/connect">
            Connect
          </a>
        </div>
      </div>
    </nav>
  </header>


  <main>
    <div>
      {{{body}}}
    </div>
  </main>
</html>