.title {
    font-family: 'Oxygen', sans-serif;
    font-family: 'VT323', monospace;
  }

.game-font {
  font-family: 'Press Start 2P', cursive;
}

.landing-page-title {
  font-size: 9rem
}

#error {
  color: red;
  font-size: 1rem
}

#success {
  color: green;
  font-size: 1rem
}

body {
  background-image: url('../assets/gameshare-bg.png');
  background-repeat: no-repeat;
  background-position: right 10px bottom;
}
