<div class="hero is-fullheight">
    <div class="container">
        <h2 class="title has-text-centered">Find Users With Similar Gaming Interests!</h2>
        <h3 class="has-text-centered">Showing 5 Random Gamers</h3>
        <a href="/connect">
        <button class="button is-dark">Shuffle!</button>
        </a>
        {{>connect-details}}
    </div>
</div>
