<div class="container">
  <h1 class="title has-text-centered">Explore Free To Play Games</h1>
  
  {{> search-details}}

  <a href="/">
  <button class="button is-dark">Shuffle!</button>
  </a>
  
  <div class="columns is-multiline is-flex is-justify-content-center">
    {{> games-details}}
  </div>
</div>

<script src="/js/search-title.js"></script>
<script src="/js/search-category.js"></script>
