<div class="hero is-fullheight">
  <div class="hero-body is-justify-content-center is-align-items-center">
    <div class="columns is-flex is-flex-direction-column box">
      <div class="column is-flex is-align-items-center">
        <div class="has-text-centered mt-6">
          <h1 class="title is-size-1 game-font">Welcome to GameShare</h1>
        </div>
      </div>
      <div class="column has-text-centered mt-1 is-size-4">
        <p>Your all in one free-to-play game library & networking platform</p>
      </div>
      <div class="column">
        <label for="email">Email</label>
        <input class="input is-dark" type="text" id='email-login' placeholder="ex. abc@gmail.com">
      </div>
      <div class="column">
        <label for="Name">Password</label>
        <input class="input is-dark" type="password" id='password-login' placeholder="5+ Characters">
      </div>
      <div class="column">
        <button class="button is-dark is-fullwidth" type="submit" id="loginBtn">Login</button>
        <p id="error" class="has-text-centered"></p>
      </div>
      <div class="has-text-centered">
        <p class="is-size-7">Don't have an account? <a href="/signup" class="has-text-danger">Sign up</a></p>
      </div>
    </div>
 </div>
</div>
<script src="/js/login.js"></script>
