<div class="container has-text-centered">
    <h1 class="title">Welcome to GameLink</h1>
</div>
<div class="hero is-fullheight">
    <div class="hero-body is-justify-content-center is-align-items-center">
        <div class="columns is-flex is-flex-direction-column box">
            <div class="column">
                <label for="email">Email</label>
                <input class="input is-dark" type="text" placeholder="ex. abc@gmail.com">
            </div>
            <div class="column">
                <label for="Name">Password</label>
                <input class="input is-dark" type="password" placeholder="5+ Characters">
            </div>
            <div class="column">
                <button class="button is-dark is-fullwidth" type="submit">Login</button>
            </div>
            <div class="has-text-centered">
                <p class="is-size-7"> Don't have an account? <a href="#" class="has-text-danger">Sign up</a>
                </p>
            </div>
        </div>
    </div>
</div>