<div class="hero is-fullheight">
    <div class="container">
        <h2 class="title has-text-centered">User Profile</h2>
        <div class="columns is-flex is-flex-direction-column box">
            
        </div>
    </div>
</div>