<div class="hero is-fullheight">
    <div class="container">
        <h2 class="title has-text-centered">User Profile</h2>
        <div class="columns is-flex is-flex-direction-column box">
        <div class="column">
            <label for="name">Name</label>
            <input class="input is-dark" type="text" placeholder="Ash Ketchum">
        </div>
        <div class="column">
            <label for="Name">About Me</label>
            <input class="input is-dark" type="text" placeholder="Bio">
        </div>
        <div class="column">
            <label for="interestedGenres">Interested Genres</label>
            <input class="input is-dark" type="text" placeholder="ex. Battle Royale, FPS, etc.">
        </div>
        <div class="column">
            <label for="Name">Preferred Platform[s]</label>
            <input class="input is-dark" type="text" placeholder="Mobile, Console, PC">
        </div>
        <div class="column">
            <button class="button is-dark is-fullwidth" type="submit">Update Profile</button>
        </div>
        </div>
    </div>
</div>

<script src="></script>