<div class="hero is-fullheight">
    <div class="container">
        <form class="editProfile-form">
        <h2 class="title has-text-centered">Update Your Profile</h2>
            <div class="columns is-flex is-flex-direction-column box">
                <div class="column">
                    <label for="Name">About Me</label>
                    <input class="input is-dark" id="about-me" type="text" value="{{profile.aboutMe}}" placeholder="Bio">
                </div>

                <div class="column">
                    <label for="genre">Interested Genre</label>
                    <select id="genre" value="{{profile.interestedGenre}}">
                        <option value="Survival">Survival</option>
                        <option value="Horror">Horror</option>
                        <option value="Social">Social</option>
                        <option value="Battle-Royale">Battle Royale</option>
                        <option value="Anime">Anime</option>
                        <option value="Sci-Fi">Sci-fi</option>
                        <option value="Fighting">Fighting</option>
                        <option value="Action-RPG">Action-RPG</option>
                        <option value="Military">Military</option>
                        <option value="Racing">Racing</option>
                        <option value="Sports">Sports</option>
                        <option value="Sandbox">Sandbox</option>
                        <option value="Voxel">Voxel</option>
                        <option value="Zombie">Zombie</option>
                        <option value="Turn-Based">Turn-based</option>
                        <option value="First-Person">First-person</option>
                        <option value="Tank">Tank</option>
                        <option value="Space">Space</option>
                        <option value="Sailing">Sailing</option>
                        <option value="Side-Scroller">Side-Scroller</option>
                        <option value="Superhero">Superhero</option>
                        <option value="Permadeath">Permadeath</option>
                        <option value="Card">Card</option>
                        <option value="MMOFPS">MMOFPS</option>
                        <option value="MMORTS">MMORTS</option>
                        <option value="MMOTPS">MMOTPS</option>
                        <option value="Martial-Arts">Martial Arts</option>
                        <option value="Flight">Flight</option>
                        <option value="Low-Spec">Low-spec</option>
                        <option value="Tower-Defense">Tower Defense</option>
                </select>
                </div>

                <div class="column">
                    <label for="platform">Preferred Platform</label>
                    <select id="platform" value="{{profile.preferredPlatform}}">
                    <option value="PC">PC</option>
                    <option value="Mobile">Mobile</option>
                    <option value="Console">Console</option>
                </select>
                </div>

                <div class="column">
                    <button class="button is-dark is-fullwidth" type="submit">Update Profile</button>
                </div>

            </div>
        </form>
        <input type="hidden" id="username" value={{profile.username}}>
    </div>
</div>

<script src="/js/update-info.js"></script>