<a href="/connect">
<button class="button is-dark">Go Back</button>
</a>

    <h1 class="title has-text-centered">Showing Users who Also Like {{search}}</h1>

    <div class="columns is-multiline is-flex is-justify-content-center">
      {{> connect-details}}
    </div>
</div>
